nav {
    background-color: #FFFAEE;
    border-bottom: 1.7px solid #e5e8e5;
    width: 100%;
    text-align: center;
    z-index: 250;
    padding: 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #2B190D;
    height: 6rem;
    position: sticky;
    top: 0px;
    font-family: 'Cairo', sans-serif;
}
/* 
.petshopLogo{
    float: left;
    padding: 0px !important;
    margin: 0px !important;
} */

nav .user_info i {
    position: relative;
    margin: 10px;
    cursor: pointer;
    font-size: 25px;
}

@media screen and (min-width: 768px) {
    nav .user_info i {
        color: #a6d372;
   }
}
nav .prod_counter {
    position: absolute;
    border-radius: 100%;
    background-color: red;
    top: 15px;
    height: 16px;
    width: 16px;
}
nav .burger {
    position: relative;
    right: 0;
    left: 0;
    margin: 5px auto;
    display: inline-block;
    cursor: pointer;
    align-self: center
}
nav .burger div {
    width: 25px;
    height: 3px;
    margin: 4px;
    background-color: black;
    transition: opacity 0s, transform 0.7s ease;
}

@media screen and (min-width: 768px) {
    nav .burger {
        display: none;
   }
}
nav .mobile__nav-container {
    width: 100%;
    color: black !important;
    background-color: #fcfff2;
    z-index: 100;
    position: absolute;
    transform: translateY(-900px);
    transition: transform 0.7s, opacity 1s ease-in;
    display: flex;
    justify-content: center;

}
@media screen and (min-width: 768px) {
    nav .mobile__nav-container {
        position: relative !important;
        transform: translateY(0px) !important;
        background-color: inherit;
   }
}
nav .mobile__nav-container .flex__ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
}
@media screen and (min-width: 768px) {
nav .mobile__nav-container .flex__ul {
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    /* margin-left: 30%; */
    /* border: 1px solid red; */
   }
}
.nnav .mobile__nav-container .flex__ul li {
    margin: 8px;
    list-style: none;
}
nav .mobile__nav-container .flex__ul li :hover {
    background-color: #e8f7ba;
    transition: all 0.3s;
}
@media screen and (min-width: 768px) {
    nav .mobile__nav-container .flex__ul li {
        margin: 5px 25px;
   }
}
nav .mobile__nav-container .flex__ul li a {
    padding: 11px;
    border-radius: 500px;
    font-size: 17px;
    opacity: 0;
    text-decoration: none;
    color: #2B190D;
    font-weight: bold;
}
@media screen and (min-width: 768px) {
    nav .mobile__nav-container .flex__ul li a {
        opacity: 1;
   }
}
@keyframes navLinkFade {
    from {
        opacity: 0;
   }
    to {
        opacity: 1;
   }
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-4.8px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-4px, -6px);
}